# Import data
https://www.lendingclub.com/info/download-data.action

### Reject data

In [20]:
import numpy as np

In [2]:
import pandas as pd

In [22]:
import re

In [2]:
import numpy as np
from scipy import stats, integrate
import matplotlib.pyplot as plt

In [3]:
loanR = pd.read_csv('LoanRej.csv',header=1)
LoanRej = loanR

In [187]:
loanR[loanR['Loan_Title']=='wstjc']

,Amount_Requested,Application_Date,Loan_Title,Risk_Score,Debt-To-Income_Ratio,Zip_Code,State,Employment_Length,Policy_Code
1946,20000.0,2007-10-22,wstjc,608.0,17.55%,347xx,FL,1 year,0

In [191]:
loanR.Loan_Title.unique()

array(['Wedding Covered but No Honeymoon', 'Consolidating Debt',
       'Want to consolidate my debt', ..., 'cards payoff',
       'Quick Turnaround Debt Consolidation Loan',
       'LC INVESTMENT III: REVENGE OF THE NOTES'], dtype=object)

In [23]:
loanR[np.where([re.search(r'^ws',x)for x in loanR['Loan_Title']],True,False)]

TypeError: expected string or buffer

In [18]:
loanR[loanR['Loan_Title'].str.contains(r'^ws',na = False)]

,Amount_Requested,Application_Date,Loan_Title,Risk_Score,Debt-To-Income_Ratio,Zip_Code,State,Employment_Length,Policy_Code
1946,20000.0,2007-10-22,wstjc,608.0,17.55%,347xx,FL,1 year,0
3326,5000.0,2007-11-28,wsmith42,538.0,36.36%,349xx,FL,< 1 year,0
5987,15000.0,2008-01-12,wspk,480.0,37.38%,497xx,MI,2 years,0

In [17]:
loanR[loanR['Loan_Title'].apply(lambda x:x[:2]=='wa')]

TypeError: 'float' object has no attribute '__getitem__'

In [14]:
loanR[loanR.Loan_Title == 'waksman']

,Amount_Requested,Application_Date,Loan_Title,Risk_Score,Debt-To-Income_Ratio,Zip_Code,State,Employment_Length,Policy_Code
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0

In [15]:
loanR.loc[loanR['Loan_Title'] == 'waksman']

,Amount_Requested,Application_Date,Loan_Title,Risk_Score,Debt-To-Income_Ratio,Zip_Code,State,Employment_Length,Policy_Code
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0

In [11]:
loanR.loc[loanR.Loan_Title == 'waksman']

,Amount_Requested,Application_Date,Loan_Title,Risk_Score,Debt-To-Income_Ratio,Zip_Code,State,Employment_Length,Policy_Code
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0

In [13]:
loanR.loc[loanR['Loan_Title'] == 'waksman']

,Amount_Requested,Application_Date,Loan_Title,Risk_Score,Debt-To-Income_Ratio,Zip_Code,State,Employment_Length,Policy_Code
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0

In [10]:
loanR.ix[1:3,[1,2]]

C:\Users\yuanq\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

  Application_Date                   Loan_Title
1       2007-05-26           Consolidating Debt
2       2007-05-27  Want to consolidate my debt
3       2007-05-27                      waksman

In [9]:
loanR.iloc[1:3,[1,2]]

  Application_Date                   Loan_Title
1       2007-05-26           Consolidating Debt
2       2007-05-27  Want to consolidate my debt

In [7]:
loanR.loc[1:3,['Loan_Title','Risk_score']]

C:\Users\yuanq\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.
C:\Users\yuanq\Anaconda3\lib\site-packages\pandas\core\indexing.py:1367: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

                    Loan_Title  Risk_score
1           Consolidating Debt         NaN
2  Want to consolidate my debt         NaN
3                      waksman         NaN

In [6]:
loanR[1:3,['Loan_Title','Risk_score']]

TypeError: unhashable type

In [5]:
loanR.head()

,Amount_Requested,Application_Date,Loan_Title,Risk_Score,Debt-To-Income_Ratio,Zip_Code,State,Employment_Length,Policy_Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0

In [4]:
loanR.columns = [c.replace(' ', '_') for c in loanR.columns]

In [27]:
loanR.head()

,Amount_Requested,Application_Date,Loan_Title,Risk_Score,Debt-To-Income_Ratio,Zip_Code,State,Employment_Length,Policy_Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0

In [30]:
loanR.Loan_Title.isnull().sum()#the loan title can used to make nlp

14

In [103]:
loanR.Employment_Length.value_counts()

< 1 year     574094
10+ years     38324
2 years       26115
1 year        25444
3 years       20417
4 years       15929
5 years       14617
6 years       11158
7 years        8090
8 years        7452
9 years        5721
Name: Employment_Length, dtype: int64

In [47]:
loanR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755491 entries, 0 to 755490
Data columns (total 9 columns):
Amount Requested        755491 non-null float64
Application Date        755491 non-null object
Loan Title              755477 non-null object
Risk_Score              731562 non-null float64
Debt-To-Income Ratio    755491 non-null object
Zip Code                755469 non-null object
State                   755470 non-null object
Employment Length       747361 non-null object
Policy Code             755491 non-null int64
dtypes: float64(2), int64(1), object(6)
memory usage: 51.9+ MB

In [48]:
loanR.describe()

       Amount Requested     Risk_Score  Policy Code
count      7.554910e+05  731562.000000     755491.0
mean       1.291072e+04     590.995754          0.0
std        1.068035e+04     179.254816          0.0
min        0.000000e+00       0.000000          0.0
25%        5.000000e+03     571.000000          0.0
50%        1.000000e+04     644.000000          0.0
75%        2.000000e+04     685.000000          0.0
max        1.400000e+06     850.000000          0.0

In [66]:
loanRnp = loanR.values

In [72]:
loanR.isnull().sum()

Amount Requested            0
Application Date            0
Loan Title                 14
Risk_Score              23929
Debt-To-Income Ratio        0
Zip Code                   22
State                      21
Employment Length        8130
Policy Code                 0
dtype: int64

In [71]:
# This line tells the notebook to show plots inside of the notebook
%matplotlib inline

import matplotlib.pyplot as plt
import seaborn as sb

### Loan Data

### Import the data of 2007 to 2011

In [111]:
loan0711 = pd.read_csv('LoanStats3a_0711.csv', header = 1)
Loan0711 = loan0711

In [112]:
Loan0711.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,1077501,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,NaN,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,NaN,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [113]:
Loan0711.describe()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,...,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,42535.000000,42535.000000,42535.000000,42535.000000,4.253100e+04,42535.000000,42506.000000,42535.000000,42535.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,158.000000,158.000000,158.000000
mean,NaN,11089.722581,10821.585753,10139.830603,322.623063,6.913656e+04,13.373043,0.152449,713.052545,717.052545,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4280.281835,49.809747,1.050633
std,NaN,7410.938391,7146.914675,7131.686447,208.927216,6.409635e+04,6.726315,0.512406,36.188439,36.188439,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3133.848658,15.636195,3.682974
min,NaN,500.000000,500.000000,0.000000,15.670000,1.896000e+03,0.000000,0.000000,610.000000,614.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,193.290000,10.690000,0.000000
25%,NaN,5200.000000,5000.000000,4950.000000,165.520000,4.000000e+04,8.200000,0.000000,685.000000,689.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1814.250000,40.000000,0.000000
50%,NaN,9700.000000,9600.000000,8500.000000,277.690000,5.900000e+04,13.470000,0.000000,710.000000,714.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3499.350000,49.950000,0.000000
75%,NaN,15000.000000,15000.000000,14000.000000,428.180000,8.250000e+04,18.680000,0.000000,740.000000,744.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5733.700000,60.677500,0.000000
max,NaN,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,13.000000,825.000000,829.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14798.200000,92.740000,24.000000

In [114]:
Loan0711.shape

(42538, 151)

In [41]:
loanD = loanD[loanD.columns[loanD.isnull().mean() < 0.8]]

In [42]:
loanD.shape

(42538, 55)

### Import the loan data of 2012,2013

In [15]:
loan1213 = pd.read_csv('LoanStats3b_1213.csv',header=1)
Loan1213 = loan1213

C:\Users\yuanq\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (0,49,129,130,131,134,135,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
loan1213.shape

(188183, 151)

### Import the loan data of 2014

In [18]:
loan14 = pd.read_csv('LoanStats3c_14.csv',header=1)
Loan14 = loan14

C:\Users\yuanq\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (0,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
loan14.shape

(235631, 151)

### Import the loan data of 2015

In [21]:
loan15 = pd.read_csv('LoanStats3d_15.csv',header=1)
Loan15 = loan15

C:\Users\yuanq\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (0,19,59) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [23]:
loan15.shape

(421097, 151)

In [52]:
loan15.columns

Index([u'id', u'member_id', u'loan_amnt', u'funded_amnt', u'funded_amnt_inv',
       u'term', u'int_rate', u'installment', u'grade', u'sub_grade',
       ...
       u'hardship_payoff_balance_amount', u'hardship_last_payment_amount',
       u'disbursement_method', u'debt_settlement_flag',
       u'debt_settlement_flag_date', u'settlement_status', u'settlement_date',
       u'settlement_amount', u'settlement_percentage', u'settlement_term'],
      dtype='object', length=151)

In [38]:
loan15.id.head()

0    68476734
1    68585839
2    68367011
3    68356614
4    68407301
Name: id, dtype: object

In [40]:
loan15.member_id.head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: member_id, dtype: float64

In [50]:
loan15.id.describe()

count       421097
unique      421097
top       55574525
freq             1
Name: id, dtype: int64

In [43]:
loan15.member_id.isnull().sum()

421097

### Import the loan data of 2016

In [60]:
file_name = 'LoanStats_2016Q{}.csv'
loan16 = pd.concat([pd.read_csv(file_name.format(i),header = 1) for i in range(1, 4)])

C:\Users\yuanq\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [61]:
loan16.shape

(330867, 145)

In [74]:
loan16.loan_status

0                Fully Paid
1                Fully Paid
2                   Current
3                   Current
4                   Current
5                Fully Paid
6                Fully Paid
7                   Current
8                   Current
9                   Current
10               Fully Paid
11                  Current
12                  Current
13               Fully Paid
14                  Current
15                  Current
16                  Current
17                  Current
18                  Current
19               Fully Paid
20               Fully Paid
21       Late (31-120 days)
22               Fully Paid
23                  Current
24                  Current
25               Fully Paid
26                  Current
27               Fully Paid
28               Fully Paid
29                  Current
                ...
99092               Current
99093               Current
99094           Charged Off
99095     Late (16-30 days)
99096               Current
99097               Current
99098               Current
99099               Current
99100               Current
99101               Current
99102               Current
99103            Fully Paid
99104               Current
99105       In Grace Period
99106               Current
99107               Current
99108               Current
99109               Current
99110            Fully Paid
99111           Charged Off
99112            Fully Paid
99113               Current
99114               Current
99115               Current
99116               Current
99117            Fully Paid
99118            Fully Paid
99119            Fully Paid
99120                   NaN
99121                   NaN
Name: loan_status, Length: 330867, dtype: object

In [62]:
loan16_1 = pd.read_csv('LoanStats_2016Q1.csv',header=1)

In [64]:
loan16_2 = pd.read_csv('LoanStats_2016Q2.csv',header=1)

In [65]:
loan16_3 = pd.read_csv('LoanStats_2016Q3.csv',header=1)

In [66]:
loan16_4 = pd.read_csv('LoanStats_2016Q4.csv',header=1)

In [63]:
loan16_1.shape

(133889, 145)

In [67]:
loan16_2.shape

(97856, 145)

In [68]:
loan16_3.shape

(99122, 145)

In [69]:
loan16_4.shape

(103548, 145)

### Import the loan data of 2017

In [70]:
file_name = 'LoanStats_2017Q{}.csv'
loan17 = pd.concat([pd.read_csv(file_name.format(i),header = 1) for i in range(1, 4)])

C:\Users\yuanq\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (0,112) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\yuanq\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (0,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\yuanq\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (0,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [71]:
loan17.shape

(324937, 145)

In [77]:
loan17.columns

Index([u'id', u'member_id', u'loan_amnt', u'funded_amnt', u'funded_amnt_inv',
       u'term', u'int_rate', u'installment', u'grade', u'sub_grade',
       ...
       u'hardship_payoff_balance_amount', u'hardship_last_payment_amount',
       u'disbursement_method', u'debt_settlement_flag',
       u'debt_settlement_flag_date', u'settlement_status', u'settlement_date',
       u'settlement_amount', u'settlement_percentage', u'settlement_term'],
      dtype='object', length=145)

In [79]:
loan17_name = list(loan17)

In [80]:
loan16_name = list(loan17)

In [82]:
matched1617 = set(loan17_name) & set(loan17_name)

In [84]:
len(matched1617)

145

In [85]:
loan15_name = list(loan15)

In [97]:
unmatch = [item for item in loan15_name if item not in loan17_name]

In [98]:
unmatch

['fico_range_low',
 'fico_range_high',
 'last_fico_range_high',
 'last_fico_range_low',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high']

In [102]:
loan15.sec_app_fico_range_high.isnull().sum()

421097

In [ ]:
#find out the unmatched columns. Then drop these columns before 2015 and combine all the date

In [ ]:
#how lending club devide the dataset into different years? issue_d? let's check it.

In [105]:
loan15.issue_d.head()

0    Dec-2015
1    Dec-2015
2    Dec-2015
3    Dec-2015
4    Dec-2015
Name: issue_d, dtype: object

In [106]:
loan16_1.issue_d.head()

0    Mar-2016
1    Mar-2016
2    Mar-2016
3    Mar-2016
4    Mar-2016
Name: issue_d, dtype: object

In [108]:
loan16_2.issue_d.head()

0    Jun-2016
1    Jun-2016
2    Jun-2016
3    Jun-2016
4    Jun-2016
Name: issue_d, dtype: object

In [109]:
loan16_3.issue_d.head()

0    Sep-2016
1    Sep-2016
2    Sep-2016
3    Sep-2016
4    Sep-2016
Name: issue_d, dtype: object

In [107]:
loan17.issue_d.head()

0    Mar-2017
1    Mar-2017
2    Mar-2017
3    Mar-2017
4    Mar-2017
Name: issue_d, dtype: object

In [ ]:
#Lending club devide the date according to the issue date

### Combine the dataset from 2007 to 2017

In [119]:
loan = pd.concat([loan0711, loan1213, loan14, loan15, loan16, loan17])

In [120]:
loan.shape

(1543253, 151)

In [121]:
loan.loan_status.value_counts()

Fully Paid                                             671952
Current                                                659808
Charged Off                                            176257
Late (31-120 days)                                      18839
In Grace Period                                          9878
Late (16-30 days)                                        3697
Does not meet the credit policy. Status:Fully Paid       1988
Does not meet the credit policy. Status:Charged Off       761
Default                                                    52
Name: loan_status, dtype: int64

In [122]:
loan.loan_status.count()

1543232

In [124]:
loan.loan_status.isnull().sum()

21

In [125]:
loan.to_csv('loan0717.csv')