In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

% matplotlib inline
# Always make it pretty.
plt.style.use('ggplot')

In [6]:
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
import nltk.data

In [7]:
# Load data from file
df = pd.read_csv('loan.csv')

C:\Users\yuanq\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df.head(10)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1075269,1311441,5000.0,5000.0,5000.0,36 months,7.90,156.46,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1069639,1304742,7000.0,7000.0,7000.0,60 months,15.96,170.08,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1072053,1288686,3000.0,3000.0,3000.0,36 months,18.64,109.43,E,E1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1071795,1306957,5600.0,5600.0,5600.0,60 months,21.28,152.39,F,F2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1071570,1306721,5375.0,5375.0,5350.0,60 months,12.69,121.45,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Show summary stats
df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
count,8.873790e+05,8.873790e+05,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,8.873750e+05,887379.000000,887350.000000,...,21372.000000,18617.000000,21372.000000,21372.000000,21372.000000,21372.000000,8.171030e+05,21372.000000,21372.000000,21372.000000
mean,3.246513e+07,3.500182e+07,14755.264605,14741.877625,14702.464383,13.246740,436.717127,7.502759e+04,18.157039,0.314442,...,36552.811389,71.535317,1.389060,2.975482,5887.979740,60.831939,3.206862e+04,0.943945,1.537058,1.977307
std,2.282734e+07,2.411335e+07,8435.455601,8429.897657,8442.106732,4.381867,244.186593,6.469830e+04,17.190626,0.862244,...,43103.833619,23.022862,1.520129,2.631886,5284.701239,20.013254,3.749826e+04,1.446872,2.723339,2.874067
min,5.473400e+04,7.047300e+04,500.000000,500.000000,0.000000,5.320000,15.670000,0.000000e+00,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,-4.000000
25%,9.206643e+06,1.087713e+07,8000.000000,8000.000000,8000.000000,9.990000,260.705000,4.500000e+04,11.910000,0.000000,...,10251.500000,58.600000,0.000000,1.000000,2411.000000,47.700000,1.390000e+04,0.000000,0.000000,0.000000
50%,3.443327e+07,3.709528e+07,13000.000000,13000.000000,13000.000000,12.990000,382.550000,6.500000e+04,17.650000,0.000000,...,24684.500000,74.900000,1.000000,2.000000,4483.000000,61.900000,2.370000e+04,0.000000,0.000000,2.000000
75%,5.490814e+07,5.847135e+07,20000.000000,20000.000000,20000.000000,16.200000,572.600000,9.000000e+04,23.950000,0.000000,...,47858.000000,87.600000,2.000000,4.000000,7771.500000,75.200000,3.980000e+04,1.000000,2.000000,3.000000
max,6.861706e+07,7.354484e+07,35000.000000,35000.000000,35000.000000,28.990000,1445.460000,9.500000e+06,9999.000000,39.000000,...,878459.000000,223.300000,22.000000,43.000000,127305.000000,151.400000,9.999999e+06,17.000000,35.000000,32.000000

In [10]:
df.loan_status.unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Issued'], dtype=object)

In [42]:
df['default'] = np.where((df['loan_status'] =='Charged Off') | (df['loan_status'] == 'Default') ,'True', 'False')

In [43]:
df.default.unique()

array(['False', 'True'], dtype=object)

In [44]:
df[['default','loan_status']]

       default  loan_status
0        False   Fully Paid
1         True  Charged Off
2        False   Fully Paid
3        False   Fully Paid
4        False      Current
5        False   Fully Paid
6        False      Current
7        False   Fully Paid
8         True  Charged Off
9         True  Charged Off
10       False   Fully Paid
11       False   Fully Paid
12        True  Charged Off
13       False   Fully Paid
14        True  Charged Off
15       False   Fully Paid
16       False   Fully Paid
17       False   Fully Paid
18       False   Fully Paid
19       False   Fully Paid
20       False   Fully Paid
21        True  Charged Off
22       False   Fully Paid
23       False   Fully Paid
24        True  Charged Off
25       False   Fully Paid
26        True  Charged Off
27        True  Charged Off
28       False   Fully Paid
29       False   Fully Paid
...        ...          ...
887349   False      Current
887350   False      Current
887351    True  Charged Off
887352   False      Current
887353   False      Current
887354   False      Current
887355   False      Current
887356   False      Current
887357   False      Current
887358   False      Current
887359   False      Current
887360   False      Current
887361   False      Current
887362   False      Current
887363   False      Current
887364   False   Fully Paid
887365   False      Current
887366   False   Fully Paid
887367   False      Current
887368   False      Current
887369   False   Fully Paid
887370   False      Current
887371    True  Charged Off
887372   False      Current
887373   False      Current
887374   False      Current
887375   False      Current
887376   False      Current
887377   False      Current
887378   False      Current

[887379 rows x 2 columns]

In [17]:
desc = df['desc'].values.tolist()

In [18]:
type(desc),len(desc)

(list, 887379)

In [19]:
len(df.title.unique())

63145

# Nature language Processing

In [20]:
desc[0]

'  Borrower added on 12/22/11 > I need to upgrade my business technologies.<br>'

In [21]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
from string import punctuation

In [22]:
from nltk.stem.porter   import PorterStemmer
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet  import WordNetLemmatizer

print SnowballStemmer('english').stem('running')
print WordNetLemmatizer().lemmatize('caused')

run
caused

In [23]:
vectorizer = TfidfVectorizer(stop_words='english', max_features=2000)
vectors = vectorizer.fit_transform(desc).toarray()
words = vectorizer.get_feature_names()

ValueError: np.nan is an invalid document, expected byte or unicode string.

In [26]:
len(df[df['desc'].isnull()])

761351

In [27]:
df[df['desc'].isnull()]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,default
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
5,1075269,1311441,5000.0,5000.0,5000.0,36 months,7.90,156.46,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
11,1069908,1305008,12000.0,12000.0,12000.0,36 months,12.69,402.54,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
14,1069057,1303503,10000.0,10000.0,10000.0,36 months,10.65,325.74,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
15,1069759,1304871,1000.0,1000.0,1000.0,36 months,16.29,35.31,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
16,1065775,1299699,10000.0,10000.0,10000.0,36 months,15.27,347.98,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
19,1069742,1304855,9200.0,9200.0,9200.0,36 months,6.03,280.01,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
23,1069700,1304810,10000.0,10000.0,10000.0,36 months,11.71,330.76,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
24,1069559,1304634,6000.0,6000.0,6000.0,36 months,11.71,198.46,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
25,1069697,1273773,15000.0,15000.0,15000.0,36 months,9.91,483.38,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
28,1069799,1304678,4000.0,4000.0,4000.0,36 months,11.71,132.31,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
32,1065420,1299514,10000.0,10000.0,9975.0,60 months,15.96,242.97,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
34,1069530,1291365,7000.0,7000.0,7000.0,36 months,15.96,245.97,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
43,1060578,1292332,4400.0,4400.0,4400.0,36 months,16.77,156.37,D,D2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
46,1069465,1304521,5000.0,5000.0,5000.0,36 months,8.90,158.77,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
47,1069283,1304166,10000.0,10000.0,10000.0,36 months,10.65,325.74,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
48,1069287,1304171,10000.0,10000.0,10000.0,36 months,6.03,304.36,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
49,1069453,1303701,11000.0,11000.0,11000.0,36 months,6.62,337.75,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
52,1069244,1304117,7000.0,7000.0,7000.0,36 months,10.65,228.02,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
53,1069243,1304116,12000.0,12000.0,12000.0,36 months,15.96,421.65,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
57,1068487,1302882,10000.0,10000.0,10000.0,36 months,12.42,334.16,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
64,1069126,1303778,10000.0,10000.0,9975.0,60 months,10.65,215.69,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
72,1069071,1303716,3000.0,3000.0,3000.0,36 months,13.49,101.80,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
75,1068882,1303303,12000.0,12000.0,12000.0,36 months,14.65,413.94,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
76,1069039,1303482,11000.0,11000.0,11000.0,36 months,13.49,373.24,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
78,1068997,1303437,15000.0,15000.0,15000.0,36 months,7.90,469.36,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
80,1068994,1303432,35000.0,22075.0,22050.0,60 months,17.27,551.84,D,D3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
83,1068967,1303403,4500.0,4500.0,4500.0,36 months,6.03,136.96,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
92,1065674,1299785,8200.0,8200.0,8200.0,60 months,19.42,214.62,E,E3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
94,1068545,1303147,7000.0,7000.0,7000.0,36 months,11.71,231.54,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,36691397,39434133,20000.0,20000.0,20000.0,36 months,6.99,617.46,A,A3,...,NaN,NaN,NaN,NaN,NaN,39700.0,NaN,NaN,NaN,0
887350,36500819,39232937,10300.0,10300.0,10300.0,60 months,13.66,237.86,C,C3,...,NaN,NaN,NaN,NaN,NaN,22000.0,NaN,NaN,NaN,0
887351,36743377,39486112,4200.0,4200.0,4200.0,36 months,15.99,147.64,D,D2,...,NaN,NaN,NaN,NaN,NaN,20400.0,NaN,NaN,NaN,1
887352,36231083,38942474,15000.0,15000.0,15000.0,36 months,11.99,498.15,B,B5,...,NaN,NaN,NaN,NaN,NaN,9700.0,NaN,NaN,NaN,0
887353,36371802,39103231,15000.0,15000.0,15000.0,60 months,11.44,329.44,B,B4,...,NaN,NaN,NaN,NaN,NaN,26100.0,NaN,NaN,NaN,0
887354,36250801,38962184,6000.0,6000.0,6000.0,36 months,17.86,216.50,D,D5,...,NaN,NaN,NaN,NaN,NaN,8500.0,NaN,NaN,NaN,0
887355,36331554,39042967,26950.0,26950.0,26950.0,36 months,8.19,846.88,A,A5,...,NaN,NaN,NaN,NaN,NaN,129100.0,NaN,NaN,NaN,0
887356,36460697,39182359,23000.0,23000.0,23000.0,60 months,15.59,554.32,D,D1,...,NaN,NaN,NaN,NaN,NaN,65600.0,NaN,NaN,NaN,0
887357,35773415,38468842,18700.0,18700.0,18700.0,60 months,17.86,473.44,D,D5,...,NaN,NaN,NaN,NaN,NaN,10200.0,NaN,NaN,NaN,0
887358,36440728,39152101,25000.0,25000.0,25000.0,60 months,15.99,607.82,D,D2,...,NaN,NaN,NaN,NaN,NaN,18700.0,NaN,NaN,NaN,0
887359,35591131,38288343,25000.0,25000.0,25000.0,60 months,15.59,602.52,D,D1,...,NaN,NaN,NaN,NaN,NaN,24400.0,NaN,NaN,NaN,0
887360,36361815,39093260,26500.0,26500.0,26500.0,60 months,8.67,545.87,B,B1,...,NaN,NaN,NaN,NaN,NaN,118600.0,NaN,NaN,NaN,0
887361,36201871,38913321,21000.0,21000.0,21000.0,36 months,6.03,639.15,A,A1,...,NaN,NaN,NaN,NaN,NaN,76300.0,NaN,NaN,NaN,0
887362,36381756,39013193,8000.0,8000.0,8000.0,36 months,8.19,251.40,A,A5,...,NaN,NaN,NaN,NaN,NaN,7300.0,NaN,NaN,NaN,0
887363,36231724,38943173,12000.0,12000.0,12000.0,36 months,9.49,384.34,B,B2,...,NaN,NaN,NaN,NaN,NaN,11900.0,NaN,NaN,NaN,0
887364,36231718,38943165,10775.0,10775.0,10775.0,36 months,6.03,327.95,A,A1,...,NaN,NaN,NaN,NaN,NaN,41700.0,NaN,NaN,NaN,0
887365,36381704,39013139,7000.0,7000.0,7000.0,36 months,14.31,240.30,C,C4,...,NaN,NaN,NaN,NaN,NaN,9900.0,NaN,NaN,NaN,0
887366,36241316,38952731,6225.0,6225.0,6225.0,36 months,16.49,220.37,D,D3,...,NaN,NaN,NaN,NaN,NaN,1800.0,NaN,NaN,NaN,0
887367,36301729,39023153,10000.0,10000.0,10000.0,36 months,6.49,306.45,A,A2,...,NaN,NaN,NaN,NaN,NaN,30300.0,NaN,NaN,NaN,0
887368,36250208,38961532,13150.0,13150.0,13150.0,60 months,14.99,312.77,C,C5,...,NaN,NaN,NaN,NaN,NaN,20700.0,NaN,NaN,NaN,0
887369,36421485,39142898,4000.0,4000.0,4000.0,36 months,8.67,126.59,B,B1,...,NaN,NaN,NaN,NaN,NaN,30100.0,NaN,NaN,NaN,0
887370,35094480,37777829,7500.0,7500.0,7500.0,36 months,9.49,240.22,B,B2,...,NaN,NaN,NaN,NaN,NaN,14500.0,NaN,NaN,NaN,0
887371,36260758,38972123,10850.0,10850.0,10850.0,36 months,19.24,399.04,E,E2,...,NaN,NaN,NaN,NaN,NaN,16800.0,NaN,NaN,NaN,1
887372,36330911,39042282,12000.0,12000.0,12000.0,36 months,11.99,398.52,B,B5,...,NaN,NaN,NaN,NaN,NaN,30300.0,NaN,NaN,NaN,0
887373,36221446,38932858,11575.0,11575.0,11575.0,36 months,15.59,404.61,D,D1,...,NaN,NaN,NaN,NaN,NaN,28100.0,NaN,NaN,NaN,0
887374,36371250,39102635,10000.0,10000.0,10000.0,36 months,11.99,332.10,B,B5,...,NaN,NaN,NaN,NaN,NaN,17100.0,NaN,NaN,NaN,0
887375,36441262,39152692,24000.0,24000.0,24000.0,36 months,11.99,797.03,B,B5,...,NaN,NaN,NaN,NaN,NaN,10200.0,NaN,NaN,NaN,0
887376,36271333,38982739,13000.0,13000.0,13000.0,60 months,15.99,316.07,D,D2,...,NaN,NaN,NaN,NaN,NaN,18000.0,NaN,NaN,NaN,0
887377,36490806,39222577,12000.0,12000.0,12000.0,60 months,19.99,317.86,E,E3,...,NaN,NaN,NaN,NaN,NaN,27000.0,NaN,NaN,NaN,0
887378,36271262,38982659,20000.0,20000.0,20000.0,36 months,11.99,664.20,B,B5,...,NaN,NaN,NaN,NaN,NaN,41700.0,NaN,NaN,NaN,0

In [28]:
df['desc'].isnull().sum()

761351

In [29]:
df['emp_title'].isnull().sum()

51462

In [30]:
df['desc'].notnull().sum()

126028

In [31]:
df['emp_title'].notnull().sum()

835917

natural language processing with missing value

### Get the dataset without missing value

In [45]:
df_1 = df[df['emp_title'].notnull()]

In [51]:
target = df_1['default'].values

### Define your target variable (any categorical variable that may be meaningful)

In [52]:
target[:10]

array(['True', 'False', 'False', 'False', 'False', 'False', 'True',
       'False', 'False', 'True'], dtype=object)

In [53]:
emp_title = df_1['emp_title'].values.tolist()

### Let's create training dataset and test dataset

In [49]:
from sklearn.cross_validation import train_test_split

C:\Users\yuanq\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [66]:
# Split to documents_train, documents_test, target_train, target_test
emp_train, emp_test, target_train, target_test = train_test_split(
    emp_title,
    target,
    test_size = 0.4,
    random_state = 42
)

### Let's get NLP representation of the documents

In [48]:
vectorizer = TfidfVectorizer(stop_words='english', max_features=2000)

In [67]:
vectors_train = vectorizer.fit_transform(emp_train).toarray()

In [58]:
words = vectorizer.get_feature_names()

In [68]:
vectors_train.shape

(501550L, 2000L)

In [69]:
vectors_test = vectorizer.fit_transform(emp_test).toarray()

In [70]:
vectors_test.shape

(334367L, 2000L)

In [35]:
vectors.shape

(835917L, 2000L)

In [36]:
words

[u'11',
 u'12',
 u'13',
 u'1st',
 u'2nd',
 u'3m',
 u'3rd',
 u'911',
 u'aaa',
 u'abbott',
 u'ac',
 u'academic',
 u'academy',
 u'accenture',
 u'access',
 u'account',
 u'accountant',
 u'accounting',
 u'accounts',
 u'acct',
 u'accts',
 u'ace',
 u'acquisition',
 u'action',
 u'active',
 u'activities',
 u'activity',
 u'actuarial',
 u'actuary',
 u'ad',
 u'adjunct',
 u'adjuster',
 u'adm',
 u'admin',
 u'administration',
 u'administrative',
 u'administrator',
 u'adminstrative',
 u'adminstrator',
 u'admission',
 u'admissions',
 u'adp',
 u'adult',
 u'advance',
 u'advanced',
 u'advantage',
 u'advertising',
 u'adviser',
 u'advisor',
 u'advisors',
 u'advisory',
 u'advocate',
 u'aerospace',
 u'aetna',
 u'affairs',
 u'ag',
 u'agency',
 u'agent',
 u'agriculture',
 u'aid',
 u'aide',
 u'air',
 u'aircraft',
 u'airline',
 u'airlines',
 u'airport',
 u'airways',
 u'alabama',
 u'alarm',
 u'alaska',
 u'allen',
 u'alliance',
 u'allied',
 u'allstate',
 u'ambassador',
 u'ambulance',
 u'america',
 u'american',
 u'americas',
 u'aml',
 u'analysis',
 u'analyst',
 u'analysts',
 u'analytical',
 u'analytics',
 u'anaylst',
 u'anchor',
 u'anderson',
 u'anesthesia',
 u'anesthetist',
 u'angeles',
 u'animal',
 u'ap',
 u'app',
 u'appeals',
 u'apple',
 u'appliance',
 u'application',
 u'applications',
 u'applied',
 u'appraiser',
 u'apprentice',
 u'ar',
 u'aramark',
 u'arc',
 u'architect',
 u'architects',
 u'architectural',
 u'architecture',
 u'area',
 u'arizona',
 u'arkansas',
 u'armed',
 u'army',
 u'art',
 u'artist',
 u'arts',
 u'asm',
 u'ass',
 u'assembler',
 u'assembly',
 u'assessment',
 u'assessor',
 u'asset',
 u'assist',
 u'assistance',
 u'assistant',
 u'assitant',
 u'assoc',
 u'associate',
 u'associated',
 u'associates',
 u'association',
 u'asst',
 u'assurance',
 u'athletic',
 u'atlanta',
 u'atlantic',
 u'att',
 u'attendant',
 u'attendent',
 u'attorney',
 u'audio',
 u'audit',
 u'auditor',
 u'aurora',
 u'austin',
 u'authority',
 u'auto',
 u'automation',
 u'automotive',
 u'av',
 u'aviation',
 u'avionics',
 u'avp',
 u'bae',
 u'baker',
 u'bakery',
 u'baltimore',
 u'bank',
 u'banker',
 u'banking',
 u'banner',
 u'banquet',
 u'baptist',
 u'bar',
 u'barber',
 u'barista',
 u'barnes',
 u'bartender',
 u'base',
 u'bath',
 u'battalion',
 u'bay',
 u'baylor',
 u'bb',
 u'bd',
 u'beach',
 u'beauty',
 u'bed',
 u'behavior',
 u'behavioral',
 u'bell',
 u'benefit',
 u'benefits',
 u'benz',
 u'berkeley',
 u'bernardino',
 u'best',
 u'beverage',
 u'bi',
 u'big',
 u'bilingual',
 u'biller',
 u'billing',
 u'bindery',
 u'biologist',
 u'biomedical',
 u'black',
 u'blue',
 u'bmw',
 u'bnsf',
 u'board',
 u'boat',
 u'body',
 u'boeing',
 u'boiler',
 u'book',
 u'bookkeeper',
 u'booz',
 u'border',
 u'boston',
 u'box',
 u'branch',
 u'brand',
 u'brands',
 u'bridge',
 u'bristol',
 u'broadcast',
 u'broadcasting',
 u'broker',
 u'brokerage',
 u'bros',
 u'brothers',
 u'broward',
 u'brown',
 u'bsa',
 u'budget',
 u'buffalo',
 u'builder',
 u'builders',
 u'building',
 u'bulk',
 u'bureau',
 u'bus',
 u'business',
 u'buy',
 u'buyer',
 u'ca',
 u'cabinet',
 u'cable',
 u'cad',
 u'cafe',
 u'cage',
 u'cake',
 u'cal',
 u'california',
 u'campus',
 u'cancer',
 u'capital',
 u'captain',
 u'car',
 u'card',
 u'cardiac',
 u'cardinal',
 u'cardiology',
 u'cardiovascular',
 u'care',
 u'career',
 u'caregiver',
 u'caretaker',
 u'cargo',
 u'carman',
 u'carolina',
 u'carpenter',
 u'carrier',
 u'case',
 u'caseworker',
 u'cash',
 u'cashier',
 u'casino',
 u'cat',
 u'category',
 u'catering',
 u'caterpillar',
 u'catholic',
 u'cbp',
 u'cdl',
 u'cell',
 u'center',
 u'centers',
 u'central',
 u'century',
 u'centurylink',
 u'ceo',
 u'certified',
 u'cfo',
 u'chain',
 u'chair',
 u'change',
 u'channel',
 u'chaplain',
 u'charge',
 u'charles',
 u'charlotte',
 u'charter',
 u'chase',
 u'chauffeur',
 u'checker',
 u'chef',
 u'cheif',
 u'chemical',
 u'chemist',
 u'chevrolet',
 u'chevron',
 u'chicago',
 u'chief',
 u'child',
 u'children',
 u'childrens',
 u'chiropractic',
 u'chiropractor',
 u'choice',
 u'christian',
 u'chrysler',
 u'church',
 u'cigna',
 u'cio',
 u'circulation',
 u'cisco',
 u'citi',
 u'citibank',
 u'citigroup',
 u'citizens',
 u'city',
 u'civil',
 u'civilian',
 u'claim',
 u'claims',
 u'clark',
 u'class',
 u'clean',
 u'cleaner',
 u'cleaning',
 u'clerical',
 u'clerk',
 u'cleveland',
 u'client',
 u'clinic',
 u'clinical',
 u'clinician',
 u'closer',
 u'closing',
 u'cloud',
 u'club',
 u'cma',
 u'cna',
 u'cnc',
 u'coach',
 u'coal',
 u'coast',
 u'coca',
 u'code',
 u'coder',
 u'coding',
 u'coffee',
 u'cognizant',
 u'cola',
 u'collection',
 u'collections',
 u'collector',
 u'college',
 u'collision',
 u'color',
 u'colorado',
 u'columbia',
 u'columbus',
 u'com',
 u'comcast',
 u'comm',
 u'command',
 u'commander',
 u'commerce',
 u'commercial',
 u'commission',
 u'commissioner',
 u'commodity',
 u'commonwealth',
 u'communication',
 u'communications',
 u'communities',
 u'community',
 u'comp',
 u'companies',
 u'company',
 u'compass',
 u'compensation',
 u'compliance',
 u'comptroller',
 u'computer',
 u'concepts',
 u'concierge',
 u'concrete',
 u'conductor',
 u'conference',
 u'configuration',
 u'connecticut',
 u'consolidated',
 u'construction',
 u'consultant',
 u'consultants',
 u'consulting',
 u'consumer',
 u'contact',
 u'container',
 u'content',
 u'continental',
 u'contract',
 u'contracting',
 u'contractor',
 u'contractors',
 u'contracts',
 u'control',
 u'controller',
 u'controls',
 u'coo',
 u'cook',
 u'cooper',
 u'coord',
 u'coordinator',
 u'copy',
 u'copywriter',
 u'cordinator',
 u'core',
 u'corp',
 u'corporal',
 u'corporate',
 u'corporation',
 u'corps',
 u'correction',
 u'correctional',
 u'corrections',
 u'cosmetologist',
 u'cost',
 u'costco',
 u'cota',
 u'council',
 u'counsel',
 u'counseling',
 u'counselor',
 u'counter',
 u'country',
 u'county',
 u'courier',
 u'course',
 u'court',
 u'courts',
 u'cox',
 u'cpa',
 u'crane',
 u'creative',
 u'credentialing',
 u'credit',
 u'creek',
 u'crew',
 u'criminal',
 u'critical',
 u'crna',
 u'cross',
 u'crown',
 u'cruise',
 u'cs',
 u'csa',
 u'csc',
 u'csr',
 u'ct',
 u'cto',
 u'ctr',
 u'culinary',
 u'curriculum',
 u'cust',
 u'custodial',
 u'custodian',
 u'custom',
 u'customer',
 u'customs',
 u'cutter',
 u'cvs',
 u'cyber',
 u'cycle',
 u'dade',
 u'dairy',
 u'dallas',
 u'damage',
 u'data',
 u'database',
 u'david',
 u'davis',
 u'davita',
 u'day',
 u'daycare',
 u'dba',
 u'dc',
 u'dds',
 u'dealer',
 u'dean',
 u'decorator',
 u'defender',
 u'defense',
 u'del',
 u'delaware',
 u'deli',
 u'delivery',
 u'dell',
 u'deloitte',
 u'delta',
 u'demand',
 u'dental',
 u'dentist',
 u'dentistry',
 u'denver',
 u'department',
 u'deployment',
 u'depot',
 u'dept',
 u'deputy',
 u'desert',
 u'design',
 u'designer',
 u'desk',
 u'desktop',
 u'detailer',
 u'detective',
 u'detention',
 u'detroit',
 u'dev',
 u'developer',
 u'development',
 u'developmental',
 u'dhs',
 u'diagnostic',
 u'diagnostics',
 u'dialysis',
 u'diamond',
 u'die',
 u'diego',
 u'diesel',
 u'dietary',
 u'dietitian',
 u'digital',
 u'dining',
 u'dir',
 u'direct',
 u'director',
 u'disability',
 u'disney',
 u'dispatch',
 u'dispatcher',
 u'dist',
 u'distributing',
 u'distribution',
 u'distributor',
 u'distributors',
 u'district',
 u'division',
 u'divisional',
 u'doc',
 u'dock',
 u'doctor',
 u'document',
 u'documentation',
 u'dod',
 u'dog',
 u'dollar',
 u'dominion',
 u'door',
 u'doorman',
 u'dot',
 u'dr',
 u'drafter',
 u'draftsman',
 u'driller',
 u'drilling',
 u'drive',
 u'driver',
 u'drug',
 u'drywall',
 u'dsp',
 u'dual',
 u'duke',
 u'duty',
 u'dynamics',
 u'e5',
 u'e6',
 u'e7',
 u'eagle',
 u'early',
 u'east',
 u'eastern',
 u'ecommerce',
 u'economic',
 u'economist',
 u'ed',
 u'edi',
 u'edison',
 u'editor',
 u'education',
 u'educational',
 u'educator',
 u'edward',
 u'ehs',
 u'el',
 u'electric',
 u'electrical',
 u'electrican',
 u'electrician',
 u'electronic',
 u'electronics',
 u'elementary',
 u'elevator',
 u'eligibility',
 u'emc',
 u'emergency',
 u'empire',
 u'employed',
 u'employee',
 u'employment',
 u'ems',
 u'emt',
 u'end',
 u'energy',
 u'enforcement',
 u'eng',
 u'engagement',
 u'engine',
 u'engineer',
 u'engineering',
 u'engineers',
 u'england',
 u'english',
 u'engr',
 u'enlisted',
 u'enrollment',
 u'enterprise',
 u'enterprises',
 u'entertainment',
 u'entry',
 u'environmental',
 u'equipment',
 u'equity',
 u'er',
 u'ernst',
 u'escrow',
 u'estate',
 u'esthetician',
 u'estimating',
 u'estimator',
 u'evaluation',
 u'evaluator',
 u'event',
 u'events',
 u'evergreen',
 u'evp',
 u'evs',
 u'ex',
 u'examiner',
 u'exchange',
 u'exec',
 u'executive',
 u'expeditor',
 u'experience',
 u'expert',
 u'export',
 u'express',
 u'eye',
 u'faa',
 u'fab',
 u'fabrication',
 u'fabricator',
 u'facilitator',
 u'facilities',
 u'facility',
 u'factory',
 u'faculty',
 u'falls',
 u'family',
 u'fargo',
 u'farm',
 u'farmers',
 u'farms',
 u'fcu',
 u'federal',
 u'fedex',
 u'feeder',
 u'fellow',
 u'fiber',
 u'fidelity',
 u'field',
 u'fifth',
 u'fighter',
 u'file',
 u'filler',
 u'finance',
 u'financial',
 u'fine',
 u'finisher',
 u'finishing',
 u'firefighter',
 u'firm',
 u'fiscal',
 u'fiserv',
 u'fish',
 u'fisher',
 u'fitness',
 u'fitter',
 u'fixed',
 u'fleet',
 u'flight',
 u'floor',
 u'flooring',
 u'florida',
 u'flow',
 u'food',
 u'foods',
 u'force',
 u'forces',
 u'ford',
 u'foreign',
 u'foreman',
 u'forensic',
 u'forest',
 u'fork',
 u'forklift',
 u'forman',
 u'fort',
 u'foster',
 u'foundation',
 u'founder',
 u'fox',
 u'franchise',
 u'francis',
 u'francisco',
 u'franklin',
 u'fraud',
 u'freight',
 u'fresenius',
 u'fresh',
 u'frito',
 u'frontier',
 u'fuel',
 u'fulfillment',
 u'functional',
 u'fund',
 u'funding',
 u'funeral',
 u'furniture',
 u'g4s',
 u'ga',
 u'game',
 u'games',
 u'gaming',
 u'gap',
 u'garden',
 u'gas',
 u'ge',
 u'geico',
 u'gen',
 u'general',
 u'generalist',
 u'genesis',
 u'geologist',
 u'george',
 u'georgia',
 u'gis',
 u'giver',
 u'glass',
 u'glazier',
 u'global',
 u'gm',
 u'gold',
 u'golden',
 u'golf',
 u'good',
 u'goods',
 u'government',
 u'govt',
 u'grade',
 u'graduate',
 u'grand',
 u'grant',
 u'grants',
 u'graphic',
 u'graphics',
 u'great',
 u'greater',
 u'green',
 u'grill',
 u'grinder',
 u'grocery',
 u'groomer',
 u'ground',
 u'grounds',
 u'group',
 u'grove',
 u'grumman',
 u'gs',
 u'guard',
 u'guest',
 u'guidance',
 u'gulf',
 u'hair',
 u'hairstylist',
 u'hall',
 u'hamilton',
 u'hampton',
 u'hand',
 u'handler',
 u'handyman',
 u'harbor',
 u'hardware',
 u'harris',
 u'hartford',
 u'harvard',
 u'haul',
 u'haven',
 u'hawaii',
 u'head',
 u'health',
 u'healthcare',
 u'hearing',
 u'heart',
 u'heating',
 u'heavy',
 u'heights',
 u'helicopter',
 u'help',
 u'helpdesk',
 u'helper',
 u'henry',
 u'heritage',
 u'hewlett',
 u'hha',
 u'high',
 u'highway',
 u'hill',
 u'hills',
 u'hilton',
 u'holdings',
 u'home',
 u'homecare',
 u'homeland',
 u'homes',
 u'honda',
 u'honeywell',
 u'hope',
 u'hopkins',
 u'horizon',
 u'hospice',
 u'hospital',
 u'hospitality',
 u'hospitals',
 u'host',
 u'hostess',
 u'hotel',
 u'hotels',
 u'house',
 u'housekeeper',
 u'housekeeping',
 u'housing',
 u'houston',
 u'hp',
 u'hr',
 u'hris',
 u'hs',
 u'hsbc',
 u'hse',
 u'hudson',
 u'hughes',
 u'human',
 u'humana',
 u'hunt',
 u'huntington',
 u'hvac',
 u'hyatt',
 u'hygienist',
 u'ibm',
 u'icu',
 u'ii',
 u'iii',
 u'illinois',
 u'imaging',
 u'immigration',
 u'implementation',
 u'import',
 u'improvement',
 u'income',
 u'incorporated',
 u'ind',
 u'independent',
 u'indian',
 u'indiana',
 u'industrial',
 u'industries',
 u'industry',
 u'info',
 u'informatics',
 u'information',
 u'infrastructure',
 u'inn',
 u'innovation',
 u'ins',
 u'inside',
 u'insight',
 u'inspection',
 u'inspector',
 u'install',
 u'installation',
 u'installer',
 u'institute',
 u'institutional',
 u'instructional',
 u'instructor',
 u'instrument',
 u'instrumentation',
 u'instruments',
 u'insurance',
 u'int',
 u'intake',
 u'integrated',
 u'integration',
 u'integrity',
 u'intel',
 u'intelligence',
 u'interactive',
 u'interior',
 u'intern',
 u'internal',
 u'international',
 u'internet',
 u'interpreter',
 u'intervention',
 u'intl',
 u'inventory',
 u'investigator',
 u'investment',
 u'investments',
 u'investor',
 u'ip',
 u'iron',
 u'ironworker',
 u'irs',
 u'isd',
 u'island',
 u'israel',
 u'iv',
 u'jack',
 u'jackson',
 u'jacobs',
 u'james',
 u'janitor',
 u'jefferson',
 u'jersey',
 u'jet',
 u'jewelry',
 u'jewish',
 u'job',
 u'joe',
 u'john',
 u'johns',
 u'johnson',
 u'joint',
 u'jones',
 u'joseph',
 u'journeyman',
 u'jp',
 u'jpmorgan',
 u'jr',
 u'judge',
 u'judicial',
 u'junior',
 u'justice',
 u'juvenile',
 u'kaiser',
 u'kansas',
 u'keeper',
 u'keeping',
 u'kelly',
 u'kettering',
 u'key',
 u'kids',
 u'king',
 u'kitchen',
 u'kpmg',
 u'kroger',
 u'la',
 u'lab',
 u'labor',
 u'laboratories',
 u'laboratory',
 u'laborer',
 u'labs',
 u'lake',
 u'lakes',
 u'lan',
 u'land',
 u'landman',
 u'landscape',
 u'language',
 u'las',
 u'laser',
 ...]

In [37]:
def get_top_values(lst, n, labels):
    '''
    INPUT: LIST, INTEGER, LIST
    OUTPUT: LIST

    Given a list of values, find the indices with the highest n values.
    Return the labels for each of these indices.

    e.g.
    lst = [7, 3, 2, 4, 1]
    n = 2
    labels = ["cat", "dog", "mouse", "pig", "rabbit"]
    output: ["cat", "pig"]
    '''
    return [labels[i] for i in np.argsort(lst)[::-1][:n]]

In [76]:
def get_bottom_values(lst, n, labels):
    '''
    INPUT: LIST, INTEGER, LIST
    OUTPUT: LIST

    Given a list of values, find the indices with the highest n values.
    Return the labels for each of these indices.

    e.g.
    lst = [7, 3, 2, 4, 1]
    n = 2
    labels = ["cat", "dog", "mouse", "pig", "rabbit"]
    output: ["cat", "pig"]
    '''
    return [labels[i] for i in np.argsort(lst)[:n]]

In [38]:
avg = np.sum(vectors, axis=0) / np.sum(vectors > 0, axis=0)
print "top 10 by average tf-idf"
print get_top_values(avg, 10, words)

top 10 by average tf-idf
[u'longshoreman', u'mailhandler', u'nordstrom', u'postmaster', u'saic', u'usps', u'fiserv', u'hairstylist', u'accenture', u'citigroup']

In [39]:
total = np.sum(vectors, axis=0)
print "top 10 by total tf-idf"
print get_top_values(total, 10, words)

top 10 by total tf-idf
[u'manager', u'teacher', u'sales', u'director', u'supervisor', u'assistant', u'engineer', u'driver', u'analyst', u'owner']

### Classifying positive/negative review

In [71]:
# Build a Logistic Regression Classifier

from sklearn.linear_model import LogisticRegression

model_lrc = LogisticRegression()
model_lrc.fit(vectors_train, target_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [72]:
# Get score for training set
model_lrc.score(vectors_train, target_train)

0.94872495264679491

In [73]:
# Get score for training set
model_lrc.score(vectors_test, target_test)

0.94846680443943332

### What are the key features that trend to default

In [75]:
# Let's find it out by ranking
n = 20
get_top_values(model_lrc.coef_[0], n, words)

[u'nestle',
 u'head',
 u'clean',
 u'distributing',
 u'hartford',
 u'square',
 u'rigger',
 u'commissioner',
 u'hand',
 u'appraisal',
 u'frozen',
 u'pta',
 u'united',
 u'heavy',
 u'shareholder',
 u'interactive',
 u'editor',
 u'researcher',
 u'deposit',
 u'port']

What are the key features that trend not to default

In [77]:
# Let's find it out by ranking
n = 20
get_bottom_values(model_lrc.coef_[0], n, words)

[u'architect',
 u'travelers',
 u'correction',
 u'partner',
 u'providence',
 u'procurement',
 u'diagnostic',
 u'pr',
 u'vista',
 u'pilot',
 u'attendant',
 u'clerk',
 u'fund',
 u'physician',
 u'database',
 u'electronics',
 u'dept',
 u'productions',
 u'parish',
 u'representative']

In [84]:
df_1[df_1['emp_title'].str.match('nestle')]['default']

14014     False
22701     False
25113     False
89509     False
112648    False
114002    False
130680     True
132163    False
139272    False
139362    False
148441    False
162312    False
169539     True
171636     True
178780    False
184269     True
194328    False
213607    False
225204    False
Name: default, dtype: object

In [91]:
df_1[df_1['emp_title'].str.match('pilot')]['default']

45827     False
46053     False
69339     False
206501    False
242394    False
251008    False
251095    False
251648    False
255411    False
277961    False
295191    False
297850    False
310551    False
312799    False
355155    False
365281    False
378237    False
384854    False
389715    False
391327    False
415994    False
418840    False
418914    False
422368    False
440749    False
486185    False
493914    False
516266    False
516806    False
523292    False
          ...
581861    False
591365    False
600605    False
621361    False
643764    False
653099    False
670604    False
686273    False
687843    False
700434    False
700670    False
708565    False
712278    False
727047    False
737077    False
746143    False
750926    False
750982    False
757111    False
768392    False
772623    False
790463    False
803724    False
803900    False
805639    False
818766    False
824938    False
836870    False
861376    False
871073    False
Name: default, Length: 64, dtype: object